extends layout

block content
	.wrapper.info
		.page-header 
			.title More Info
			img(src='/images/icons/info_white.png', width='40')
		.white-box.page-subtitle Would you like more information about experiencing Triangle? Want to contact us with any comments, complaints or questions? Here are some names and numbers you need to know.
		hr
		.post-container
			each contact, i in contacts
				.post.white-box
					.contact-name
						.field #{contact.name}
						.field #{contact.role}
					span.contact-info
						.field #{contact.email}
						.field #{contact.phone}
					span.contact-tags
						.field #{contact.tags}